<main class="m-0">
    {{#with newsBlock}}
    <h1 class="text-center mb-2">{{title}}</h1>

    <div class="row g-1">
        {{#each cards}}
        <div class="col-3">
            <div class="card text-bg-secondary">

                <h5 class="card-header">
                    {{title}}
                    {{#if isNew}}
                    <span class="badge text-bg-success rounded-pill">New</span>
                    {{/if}}
                    {{#if isTop}}
                    <span class="badge text-bg-danger rounded-pill">Top</span>
                    {{/if}}

                </h5>
                <p class="card-body  p-0">{{description}}</p>

            </div>
        </div>
        {{/each}}
    </div>
    {{/with}}

    <hr class="my-4">
    {{#with goodsBlock}}
    <div class="row mb-5">
        <nav class=" nav nav-tabs ms-0 col-12">
            {{#each tabs}}
            {{#if isActive}}
            <div class="nav-item"> <a href="#" class="nav-link active">{{text}}</a></div>
            {{else}}
            {{#if isDisabled}}
            <div class="nav-item"><a href="#" class="nav-link disabled">{{text}}</a></div>
            {{else}}
            <div class="nav-item"><a href="#" class="nav-link">{{text}}</a></div>
            {{/if}}
            {{/if}}
            {{/each}}
        </nav>
    </div>
    <div class="row g-2">
        {{#each cards}}
        <div class="col-4">
            <div class="card">
                <img class="card-img-top" src="{{image}}" alt="@">
                <div class="card-body">
                    <h5 class="card-title">
                        {{title}}
                        {{#if isNew}}
                        <span class="badge text-bg-primary rounded-pill">Нове</span>
                        {{/if}}
                        {{#if isHot}}
                        <span class="badge text-bg-warning rounded-pill">Hot</span>
                        {{/if}}

                    </h5>
                    <p>{{description}}</p>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    {{/with}}

    <hr class="my-4">

    {{#with subscribe}}
    <div class="card ">
        <div class="card-body text-bg-dark">
            <h2>{{header}}</h2>
            <p>{{description}}</p>
            <div class="nav flex-column row">
                {{#each buttons}}
                <button href={{link}} class=" col-3 nav-item btn btn-primary btn-sm m-2">{{text}}</button>
                {{/each}}
            </div>
        </div>
    </div>
    {{/with}}

    <hr class="my-4"> 

    {{#with service}}
    <div class="card ">
        <div class="card-body text-bg-success text-center">
            <h2>{{title}}</h2>
            <p>{{description}}</p>
            <div class="row">
                {{#each buttons}}
                <div class="col-4"></div>
                <button href={{link}} class=" text-center col-4  btn btn-primary btn-sm m-2">{{text}}</button>
                <div class="col-4"></div>
                {{/each}}
            </div>
        </div>
    </div>
    {{/with}}

    <hr class="my-4"> 



</main>