<main class="container">
    <h2 class="my-5">{{header}}</h2>
    <div class="row ">
        <div class="col-8 ">
            {{#with contacts_data}}
            <h3 class="my-4">{{title}}</h3>

            <div class="row">
                <div class="col-12">
                    {{#each buttons}}
                    {{#if isPrimary}}
                    <button class="btn btn-warning text-white btn-sm">{{text}}</button>
                    {{/if}}
                    {{#if isOutline}}
                    <button class="btn btn-outline-warning btn-sm ">{{text}}</button>
                    {{/if}}
                    {{/each}}
                </div>
            </div>


            {{#with form}}
            {{#with input}}
            {{>form-sh}}
            {{/with}}


            <hr class="my-4">

            {{#each switch}}

            {{#unless isActive}}
            <div class="form-check form-switch my-4">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault">{{text}}</label>
            </div>
            {{else}}
            <div class="form-check form-switch my-4">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked">{{text}}</label>
            </div>
            {{/unless}}
            {{/each}}
            {{/with}}
            {{/with}}

            <hr class="my-4">

            {{#with delivery}}
            <h3 class="mb-4">{{title}}</h3>
            <div class="card">
                <div class="card-body py-2">
                    <div class="row">
                        {{#each select}}
                        <div class="col-6">

                            <label for="select">{{label}}</label>
                            <select class=" form-select form-select-sm">
                                <option selected>{{placeholder}}</option>
                                {{#each options}}
                                <option value="{{@key}}">{{text}}</option>
                                {{/each}}
                            </select>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>

            <hr class="my-4">

            {{#each delivery_type}}
            <div class="form-check my-2">
                <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option1">
                <label class="form-check-label" for="inlineCheckbox1">{{this.type}}</label>
            </div>
            {{/each}}

            <hr class="my-4">

            {{#with payment}}
            <h3 class="mb-3">{{title}}</h3>
            {{#each list}}
            <div class="form-check my-2">
                <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option1">
                <label class="form-check-label" for="inlineCheckbox1">{{this.type}}<br>{{this.description}}</label>

            </div>
            {{/each}}
            {{/with}}

            <hr class="my-4">

            {{#with contact}}
            <h3 class="mb-3">{{title}}</h3>
            {{>form-sh}}
            {{/with}}

            <hr class="my-4">

            {{#with coment}}
            {{>form-shoporder}}
            {{/with}}
            {{/with}}

            <hr class="my-4">

            {{#with coupon}}
            <h3 class="mb-3">{{title}}</h3>
            {{#with select}}
            {{#with availabel_coupon}}

            <div class="col-12 mb-2">
                <label for="select">{{label}}</label>
                <select class=" form-select form-select-lg">
                    <option selected>{{placeholder}}</option>
                    {{#each options}}
                    <option>{{text}}</option>
                    {{/each}}
                </select>
            </div>
            {{/with}}

            {{#with friend_coupon}}

            <div class="col-12 mb-3">
                <label for="select">{{label}}</label>
                <select class=" form-select form-select-sm">
                    <option selected>{{placeholder}}</option>
                    {{#each options}}
                    <option>{{text}}</option>
                    {{/each}}
                </select>
            </div>
            {{/with}}
            {{/with}}

            {{#with add}}
            {{#with friend}}
            {{>form-shoporder}}
            {{/with}}
            {{#with colleague}}
            {{>form-shoporder}}
            {{/with}}
            {{/with}}
            {{/with}}

            <hr class="my-4">

            {{#with quiz}}
            <h3 class="mb-3">{{title}}</h3>
            {{#with preference}}
            <div class="mb-2">{{title}}</div>
            {{#each options}}
            <div class="form-check my-2">
                <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option1">
                <label class="form-check-label" for="inlineCheckbox1">{{this}}</label>
            </div>
            {{/each}}
            {{/with}}
            {{#with your_expirience}}
            {{>form-shoporder}}
            {{/with}}
            {{#with purchase_frequency}}
            <div class="col-12 my-3">
                <label for="select">{{label}}</label>
                <select class=" form-select ">
                    <option selected>{{placeholder}}</option>
                    {{#each options}}
                    <option>{{text}}</option>
                    {{/each}}
                </select>
            </div>
            {{/with}}
            {{#with factors}}
              <div class="mb-2">{{title}}</div>
            {{#each options}}
            <div class="form-check my-2">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                <label class="form-check-label" for="inlineCheckbox1">{{this}}</label>
            </div>
            {{/each}}
            {{/with}}
            {{/with}}

        </div>


        <div class="col-4">
            <div class="card">
                {{#each action_block}}
                <div class="card-body py-1">
                    {{#if isSuccess}}
                    <button class="btn btn-success">{{text}}</button>
                    {{/if}}
                    {{#if isDanger}}
                    <button class="btn btn-danger">{{text}}</button>
                    {{/if}}
                    {{#if isInfo}}
                    <button class="btn btn-info ">{{text}}</button>
                    {{/if}}
                </div>
                {{/each}}
            </div>
            <div class="card mt-3 ">
                {{#with total}}
                <div class="card-body p-0">
                    <h4>{{title}}</h4>
                    {{#each item_list}}
                    <ul class="p-1 m-0">
                        <li class="list-inline p-0">{{name}}: {{price}}</li>
                    </ul>
                    {{/each}}
                    <hr class="my-1">
                    {{#each additional_info}}
                    <ul class="p-1 m-0">
                        <li class="list-inline">{{text}}: {{value}}</li>
                    </ul>
                    {{/each}}

                    <hr class="my-1">

                    <div class="ms-1">
                        {{#with total_price}}
                        {{text}}: {{value}}
                        {{/with}}
                    </div>

                    <hr class="my-1">

                    {{#each button}}
                    {{#if isPrimary}}
                    <button class="btn btn-primary btn-sm my-1">{{text}}</button>
                    {{/if}}
                    {{#if isOutline}}
                    <button class="btn btn-outline-primary btn-sm my-1">{{text}}</button>
                    {{/if}}
                    {{/each}}

                </div>

                {{/with}}

            </div>

        </div>
    </div>
    <hr class="my-4">

</main>