<main>
    {{#with page_header}}
    <h1 class="text-center">{{title}}</h1>
    <p class="text-center text-uppercase">{{description}}</p>
    {{/with}}
    <div class="card">
        <div class="card-body">
            {{#with section}}
                {{#with about_us}}
                    {{#with title_list}}
                    <h6 class="display=6 text-end">{{main}}</h6>
                    <h2 class="text-end">{{sub}}</h2>
                    {{/with}}                   
                    <button class="btn btn-outline-info">{{button.text}}</button>
                {{/with}}
            
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            {{#with advantage}}
            <h5 class="display-5">{{title}}</h5>
            {{#with efficiency}}
            <div class="card">
                <div class="card-body">
                    <h4 class="display-4">{{title}}</h4>
                    <h6>{{sub_title}}</h6>
                    <p>{{description}}</p>
                    <button class="btn btn-outline-warning">{{button}}</button>
                </div>
            </div>

            {{/with}}
            
            <br><br>

        <div class="card">
            <div class="card-body">
                {{#with innovation}}
                <h4 class="text-center display-4">{{title}}</h4>
                <h6 class="text-center">{{sub_title}}</h6>
                <p class="text-center">{{description}}</p>
                <button class="btn btn-outline-warning">{{button}}</button>
                {{/with}}
            </div>
        </div>
                <br><br>
                {{#with collaboration}}
            <div class="card">
                <div class="card-body">
                    <h4 class="text-end display-4">{{title}}</h4>
                    <h6 class="text-end">{{sub_title}}</h6>
                    <p class="text-end">{{description}}</p>
                    <button class="btn btn-outline-warning">{{button}}</button>
                </div>
            </div>
        </div>
    </div>
        <br><br>
                {{/with}}
            {{/with}}
            {{#with agreement}}
        <div class="card">
            <div class="card-body">
                <h5 class=" display-5">{{title}}</h5>
                {{#with info}}
                <div class="card">
                     <div class="card-body">
                        
                        <h5 >{{sub_title}}</h5>
                        <div class="card">
                            <div class="card-body">
                                {{#with detail}}
                                <p >{{text}}</p>
                                <button class="btn btn-success">{{button}}</button>
                                {{/with}}
                            </div>
                        </div>
                {{/with}}
                    </div>
                </div>
            </div>
        </div>
                
                
            {{/with}}
        {{/with}}
       
</main>