<div class="col-6">
    <div class="card">
         {{#with picture}}
            <img class="card-img-top" src="{{src}}" alt="{{alt}}">
            {{/with}}
        <div class="card-body">
           
            <h5 class="card-title">{{title}}</h5>
            
            <p>{{description}}</p>
            {{#with button}}
            <a class=" btn btn-primary btn-ln" href="{{href}}">{{text}}</a>
            {{/with}}
        </div>
    </div>
</div>