<div class="container text-center bg-light ">
    <div class="row">
        <div class="col border">

            <i class="text-success">{{prename}}</i> <br>
            {{>table-one}}
            <b>{{name}}</b>

        </div>
        {{#if name-one}}
        <div class="col border">

            <i class="text-success">{{prename-one}}</i> <br>
            {{>table-one}}
            <b>{{name-one}}</b>

        </div>
        {{/if}}
         {{#if name-sec}}
        <div class="col border">

            <i class="text-success">{{prename-sec}}</i> <br>
            {{>table-one}}
            <b>{{name-sec}}</b>

        </div>
        {{/if}}
        {{#if name-thi}}
        <div class="col border">

            <i class="text-success">{{prename-thi}}</i> <br>
            {{>table-one}}
            <b>{{name-thi}}</b>

        </div>
        {{/if}}
        {{#if name-four}}
        <div class="col border">

            <i class="text-success">{{prename-four}}</i> <br>
            {{>table-one}}
            <b>{{name-four}}</b>

        </div>
        {{/if}}
        {{#if name-five}}
        <div class="col border">

            <i class="text-success">{{prename-five}}</i> <br>
            {{>table-one}}
            <b>{{name-five}}</b>

        </div>
        {{/if}}
    </div>
</div>